.location-cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 60px 20px;
  width: 100%;
}

.location-cards > ul > li {
  background-color: var(--background-color);
}

.location-cards .cards-card-body {
  margin: 16px;
}

.location-cards .cards-card-image {
  line-height: 0;
  column-gap: 10px;
  height: 425px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.location-cards .cards-card-image .cards-card-image-0 {
    width: 100%;
    height: 100%;
    justify-self: stretch;
    position: relative;
}

.location-cards .cards-card-image .cards-card-image-1 {
    width: 56%;
    height: 100%;
    justify-self: stretch;
    position: relative;
}

.location-cards .cards-card-image .cards-card-image-0 picture {
    width: 100%;
    height: 100%;
    display: block;
}

.location-cards .cards-card-image .cards-card-image-1 picture {
    width: 100%;
    height: 100%;
    display: block;
}

.location-cards > ul > li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.25rem;
  object-position: center;
}

.location-cards-wrapper {
 width: 100%;   
 display: flex;
 align-items: center;
}




